.fc {
    &.fc-theme-standard {
        .fc-toolbar {
            .fc-button{
                .fc-icon-chevron-right, .fc-icon-chevron-left{
                    font-family:fcicons !important;
                }
            }
        }

        a{
            color:var( --fc-event-bg-color) !important;
        }

    }.fc-button 
    .fc-col-header-cell-cushion{
      
        color:var( --fc-event-bg-color) !important;
        
    }
   

    .fc-daygrid-block-event{
        background: none !important;
        border: none !important;
    }

    .fc-daygrid-body {
        a{
            color:var( --fc-event-bg-color) !important;

            &:hover{
                // background: var(--fc-event-bg-color) !important;
                color: red !important;
            }
        }

    }


}