
:root {
  --text-color: #ebf4f1;
  --text-dark: #000000;
  --btn-nav:#ffffff;
  --btn-hover:#ecca51;
  --border-radius: 50%;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #000000;
  --bg-secondary: #f7f7f7;
  --border-color: #0d2538;
  --yellow: #ecca51;
  --blue: #91a6c3;

  }
  
  .dark-mode {
    --text-color: #ebf4f1;
    --text-dark: #000000;
    --btn-nav:#ffffff;
    --btn-hover:#ecca51;
    --border-radius: 50%;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --bg: #000000;
    --bg-secondary: #f7f7f7;
    --border-color: #0d2538;
  }
